$primaryDarkBlue: hsl(233, 47%, 7%);
$primaryDesatBlue: hsl(244, 38%, 16%);
$primarySoftViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$whiteSeventyFive: hsla(0, 0%, 100%, 0.75);
$whiteSixty: hsla(0, 0%, 100%, 0.6);
$mainFont: 'Inter',
sans-serif;
$secondaryFont: 'Lexend Deca',
sans-serif;