@import './variables';
@import './stats-preview-card';

body {
    font-size: 0.938em;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: $primaryDarkBlue;
    color: $white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a:link,
a:visited {
    color: $primarySoftViolet;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a:focus-visible {
    outline: 1px solid $white;
}

footer {
    text-align: center;
    padding: 1em 2%;
    color: $white;
}